p{
    text-align: left; font-size: 20px;
}
h1{
    text-align: center; font-size: 30px; color: red;
    font-family: verdana;
}
h2 {
    color: red;font-family: verdana;
}
body{
    background-color: gainsboro;
    margin-top:0%;margin-left: 3%;margin-right :3%; 
    margin-bottom: 0%;
}

.como{
   display: table;
   background: palegoldenrod;
   width: 1450px;
   padding-top: 0;
}
.imagem{
    display: table-cell;
    float: left;
    margin: 10px; 0; 20px; 0;
}
.imagem1{
    display: table-cell;
    float: right;
    margin: 10px; 0; 20px; 0;
}
.para{
    display: table-cell;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 1000px;
    position: relative;
    

}